
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.unknown-party {
  color: #f5ce5a;
  font-weight: bold;
}

.positive-amount {
  color: #158d15;
}

.negative-amount {
  color: #c21818;
}
